
body {
    width: 100%;
    height: auto;
    font-family: Dosis !important;
  }

header {
    z-index: 9999;
    top: 0;
    min-width: 100%;
    display: inline-block;
}
header.container {
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
nav ul {
    display: inline-flex;

}
nav ul li {
    list-style: none;
    color: black;
    font-size: 1.5em;
    padding: 10px;  
}
#navbar {
    text-align: center;
}
.title-search-bar {
    text-align: center;
}

 .search-btn {
    margin: 3px;
}
#submit,
.trending {
    margin-bottom: 6px;
}
.search-bar {
    margin-top: 0.4rem;
}

#results {
    margin: 0 auto;
    align-content: center;
}

.gif-box {
    margin: 0.5rem;
    display: inline-block;
    border: 1px solid black;
    height: auto;
    width: auto;
}
#user-search {
    margin: 0 2rem 1.5rem 0;
}

#submit {
    margin-right: 1rem;
}

label {
    margin: 0 13.6rem 0 0;
    font-size: 26px;
    line-height: 70px;
    width: 26px;
    float: right;
    display: none;
}

#top-menu a {
    clear: right;
}

#toggle {
    display: none;
}

.not-found {
    font-size: 4rem;
    text-align: center;
    line-height: 70px;
}

@font-face {
    font-family: Dosis;
    src: url(/Fonts/Dosis-Regular.ttf);
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    #top-menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    #top-menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }
    #toggle:checked + #top-menu {
        display: block;
    }
}